<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectSQLServer.Properties.Settings.MachineDataConnectionString" connectionString="Data Source=ppdpc852.ppd.chalmers.se;Initial Catalog=MachineData;Persist Security Info=True;User ID=MachineDataWriter;Password=nnNbW\rn5864jgyRIqS$@\" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
